* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background: #eef2ff;
    color: #3f3636;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;

}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    padding: 12px;
    border: 1px solid #050404;
    border-radius: 7px;
    flex: 1;
}

button {
    padding: 12px 18px;
    background: #7847e1;
    color: white;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background: #c65ce7;
}

#error {
    color: red;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top input {
    max-width: 250px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 13px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f5f5f5;
}

.delete {
    background: #df8435;
}

.delete:hover {
    background: #803838;
}
.edit {
    background: #3498db;
}

.edit:hover {
    background: #2980b9;
}